@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LEAGUE OF LEGENDS</h1>
    <h2 class="display-4">INTERNATIONAL TOURNAMENT</h2>
    <p>Information and data management</p>
</div>
